# Introduction à python

Ce premier notebook permet de vous faire découvrir le langage Python

Vous trouverez de nombreuses ressources sur le site de la Python Software Foundation :
    
https://www.python.org/

Pour l'utilisation des Notebooks, je vous conseille de consulter le site du projet Jupyter :
http://jupyter.org/

#### Premiers pas en Python

Définir quatre variables distinctes, un entier, un float, un booléen et une chaîne de caractère et affichez-les dans la console.

In [2]:
entier1=1
print(entier1,type(entier1))

1 <class 'int'>

In [2]:
f=1.5
bool1=True 
chaine="python"
print(f,bool1,chaine)

1.5, True, python

Définir une variable comprenant la chaîne ‘Python pour la Science’, utilisez des opérations sur les chaînes pour afficher ‘PYTHON POUR LA DATA SCIENCE’

In [5]:
# on peut utiliser la méthode .upper() pour mettre en majuscule
chaine.upper()

'PYTHON'

In [6]:
chaine2='Python pour la Science'
chaine3=chaine2.upper()
chaine3

'PYTHON POUR LA SCIENCE'

In [18]:
morceau1=chaine3[:14]
morceau2=" DATA "
morceau3=chaine3[15:]

print(morceau1+morceau2+morceau3)

PYTHON POUR LA DATA SCIENCE

#### Les conditions et les boucles

Créez une condition qui affiche une valeur différente en fonction du booléen entré.

In [27]:
bool2 = True

In [32]:
if bool2 is True:
    print("C'est vrai")
else:
    print("C'est faux")

C'est vrai

Créez une boucle for qui parcourt un range de 0 à 5 et qui ajoute 1 à une variable à chaque boucle

In [34]:
a=0
for i in range(0,6):
    a=a+1
    #a+=1
print(a)

6

Créer une boucle en utilisant la liste list1 pour compléter la phrase "Aujourd'hui, nous sommes"...

In [36]:
list1=["lundi","mardi"]
for element in list1:
    print("aujourd'hui nous sommes %s" %(element))

aujourd'hui nous sommes lundi
aujourd'hui nous sommes mardi

In [41]:
list1=["lundi","mardi"]
list2 = [15.2564,17.2687]
for element, temp in zip(list1[:1],list2[:1]):
    print("aujourd'hui nous sommes %s et il fait %.2f" %(element, temp))

aujourd'hui nous sommes lundi et il fait 15.26
aujourd'hui nous sommes mardi et il fait 17.27

Créer une suite de commande, qui demande l’entrée d’un nombre, multipliez ce nombre par deux et affichez-le en sortie.

In [3]:
entree=input("entrez un nombre: ")
print(entree)

entrez un nombre: 2
2

#### Les listes, les tuples et les dictionnaires

Créez une liste composée de 5 éléments, affichez la longueur de la liste.
Modifiez la dernière valeur de la liste et construisez une seconde liste à partir des 3 dernières valeurs de la liste initiale.

In [5]:
liste1=[1,2,"test",4,5]

In [6]:
len(liste1)

5

In [7]:
liste3=liste1[-3:]
liste3

['test', 4, 5]

Lorsqu'on extrait une partie de liste, Python crée une copie. Par contre, lorsqu'on utilise liste2=liste1, il ne s'agit que d'une vue de la liste initiale et les deux listes sont liées :

In [8]:
liste2=liste1

In [9]:
liste2[3]="Cegedim"

In [10]:
#la 4ème valeur de liste1 est modifiée
liste1

[1, 2, 'test', 'Cegedim', 5]

In [11]:
# .append() modifie la liste liste1 en y ajoutant un élément supplémentaire
liste1.append("data")

In [12]:
liste1

[1, 2, 'test', 'Cegedim', 5, 'data']

A partir d’une liste de valeurs en degrés celsius [0, 10, 20, 35], créez une liste en degrés fahrenheits (9/5*temp+32)

In [14]:
liste_temp=[-30,0, 10, 20, 35]
res=[9/5*x+32 for x in liste_temp]
res

[-22.0, 32.0, 50.0, 68.0, 95.0]

In [15]:
listinit=range(1000)

In [16]:
# clé magique pour calculer le temps de calcul
%%timeit 
res2 = [x**2 for x in listinit if (x % 2 == 0)]

225 µs ± 906 ns per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [17]:
# clé magique pour profiler son code
%%prun
res=[]
for x in listinit:
    if x%2==0:
        res.append(x**2)

In [19]:
#objets chargés en mémoire
%whos

Variable     Type     Data/Info
-------------------------------
entier1      int      1
entree       str      2
liste1       list     n=6
liste2       list     n=6
liste3       list     n=3
liste_temp   list     n=5
listinit     range    range(0, 1000)
res          list     n=500
x            int      999

Créez la chaîne ‘Vive la data science’, transformez-la en une liste de quatre éléments.  Ajoutez les valeurs ‘et’ et ‘Python’ à cette liste.  Affichez la chaîne de caractère obtenue.

In [20]:
chaine3="Vive la data science"
liste3=chaine3.split()
liste3.append("et Python")
print(" ".join(liste3))

Vive la data science et Python

Créez la chaîne ‘Ce client est …, il a … ans d’ancienneté et a dépensé … euros’. On utilisera les %... dans la chaîne que l’on pourra remplacer par différentes valeurs

In [21]:
'Ce client est %s, il a %i ans d’ancienneté et a dépensé %.2f euros' % ("Emmanuel", 10, 346.2)

'Ce client est Emmanuel, il a 10 ans d’ancienneté et a dépensé 346.20 euros'

Construire un dictionnaire composé de listes de mots et accédez à un élément d’une des listes du dictionnaire.  Affichez le mot en majuscule.

In [22]:
dico={"Ville":["Paris","Londres","NY"],"Pays":["France","Italie"]}

dico["Ville"]
dico.keys()

dict_keys(['Ville', 'Pays'])

In [23]:
#afficher NY en minuscule
dico["Ville"][-1].lower()

'ny'

In [89]:
"NY" in dico["Ville"]

False

### Fonctions

In [24]:
def transformer(liste1):
    """ Cette fonction decoupe ma liste en deux listes et renvoies ces deux listes
    Elle utilise une liste"""
    l=int(len(liste1)/2)
    return liste1[:l],liste1[l:]

In [25]:
liste_temp

[-30, 0, 10, 20, 35]

In [26]:
elem1,elem3=transformer(liste_temp)

In [27]:
elem1

[-30, 0]

In [28]:
elem3

[10, 20, 35]

In [29]:
def test(a,b=2,c=3):
    return a+b+c

In [30]:
test(4,c=3)

9

Créez une fonction lambda qui met en majuscule et qui sépare les mots d’une chaîne de caractère

In [32]:
f= lambda x, y: (x+y).upper().split()
f(chaine3, chaine3)

['VIVE', 'LA', 'DATA', 'SCIENCEVIVE', 'LA', 'DATA', 'SCIENCE']

Construire une fonction prenant en entrée deux listes et qui retourne la moyenne de tous les éléments des deux listes (une seule valeur)

In [33]:
def moy_listes1(liste1,liste2):
    somme=0.0
    for val in liste1+liste2:
        somme+=val
    return somme / len(liste1+liste2)

In [37]:
def moy_listes2(liste1,liste2):
    return sum(liste1+liste2)/len(liste1+liste2)

In [38]:
moy_listes3=lambda liste1,liste2: sum(liste1+liste2)/len(liste1+liste2)

In [34]:
liste4=[x for x in range(100) if x %3==0]

In [35]:
liste5=[x for x in range(100) if x %5==0]

In [36]:
%timeit moy_listes1(liste4,liste5)

2.76 µs ± 73.7 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [39]:
%timeit moy_listes2(liste4,liste5)

1.07 µs ± 9.41 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [40]:
%timeit moy_listes3(liste4,liste5)

1.08 µs ± 11 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

### Les classes

Définissez une classe CompteBancaire(), qui permette d'instancier des objets tels que compte1, compte2, etc.

In [137]:
class CompteBancaire:
    """ Classe pour construire des objets du type CompteBancaire"""
    
    def __init__(self,nom="A",solde=0):
        self.nom=nom
        self.solde=solde
        
    def depot(self, somme):
        self.solde+=somme

In [138]:
compte1=CompteBancaire("Emmanuel",100)

In [140]:
compte1.solde

1100

In [139]:
compte1.depot(1000)

### Gestion d'exceptions

Créer une gestion d’exception pour une fonction prenant en entrée deux input() puis divisez-les, utiliser les différentes erreurs d’exceptions

In [41]:
def calcul1(a):
    try:
        print(1/int(a))
    except ZeroDivisionError:
        print("Erreur de division par 0")
    except ValueError:
        print("Avez-vous bien entré un entier ?")
    except:
        pass

In [42]:
data1=input("Entrez un entier :")
calcul1(data1)

Entrez un entier :22
0.045454545454545456